.container {
    width: 60%; /* Set the width to 60% of the page */
    margin: 0 auto; /* Center the container horizontally */
  }

  .list-group-item {
    background-color: inherit; /* Replace 'your-color' with the desired background color */
  }

  .nav-pills .nav-link.active {
    background-color: #ffb03b;
  }

  .nav-pills .nav-link {
    color: #ffb03b;
  }